html {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;




}

header img {
  height: 50px;
  margin-left: 10px;



}




header nav {
  text-decoration: underline;
  display: flex;
  margin-right: 10px;


}

nav a {
  margin: 10px;
  color: seashell;

}


/* main */

.content {
  padding-top: 69px;

}


/* mission */

#mission {
  height: 700px;
  background-image: url("../../resources/images/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#mission .our {
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 2;


/* TEA */


}

#tea {
  width: 1000px;



}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.item img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

/* locations */

#locations {
  height: 500px;
  width: auto;
  background-image: url("../../resources/images/img-locations-background.jpg");
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  align-items: center;


}

.shop {
  background-color: black;
  width: 300px;
  height: 300px;
  margin-right: 40px;


}

.shop h3 p {
  opacity: 1;
}

/* footer */

.contact {
  height: 200px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
